<div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Subscription</h5>
                <p class="card-text">Add a new subscription to track</p>
                <form id="addSubForm">
                    <div class="form-group">
                        <label>Subcription Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label>Start Date:</label>
                        <input type="date" class="form-control" id="startDate">
                    </div>
                    <div class="form-group">
                        <label>End Date:</label>
                        <input type="date" class="form-control" id="endDate">
                    </div>
                    <div class="form-group">
                        <label>Price:</label>
                        <input type="number" class="form-control" id="price">
                    </div>
                    <div class="form-group">
                        <label>Frequency:</label>
                        <input type="text" class="form-control" id="frequency">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>