{{!-- TEMPLATE FOR PAGE DEDICATED TO UPDATING AN EXISTING SUBSCRIPTION IN THE DATABASE --}}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-9 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Subscription</h5>
                <p class="card-text"></p>
                <form id="editSubForm">
                    <div class="form-group">
                        <label>Subcription Name</label>

                        <input type="text" class="form-control" id="edit-name">

                    </div>
                    <div class="form-group">
                        <label>Start Date:</label>
                        <input type="date" class="form-control" id="edit-startDate">
                    </div>
                    <div class="form-group">
                        <label>End Date:</label>
                        <input type="date" class="form-control" id="edit-endDate">
                    </div>
                    <div class="form-group">
                        <label>Price:</label>
                        <input type="number" step="any" class="form-control" id="edit-price">
                    </div>
                    <div class="form-group">
                        <label>Frequency:</label>
                        <input type="text" class="form-control" id="edit-frequency">
                    </div>
                    <button type="submit" class="btn btn-primary" id="editSubmitBtn" data="{{id}}">Update</button>
                    <a href="/" class="btn btn-danger" id="cancelBtn">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var subStore;
    subStore = JSON.parse(localStorage.getItem("savedSubs"))

    for (var i = 0; i < subStore.length; i++) {
        if (subStore[i].id == $("#editSubmitBtn").attr("data").valueOf()) {
            $("#edit-name").val(subStore[i].name)
            localStorage.setItem("name", subStore[i].name)
            $("#edit-startDate").val(subStore[i].startDate)
            localStorage.setItem("startDate", subStore[i].startDate)
            $("#edit-endDate").val(subStore[i].endDate)
            localStorage.setItem("endDate", subStore[i].endDate)
            $("#edit-price").val(subStore[i].price)
            localStorage.setItem("price", subStore[i].price)
            $("#edit-frequency").val(subStore[i].frequency)
            localStorage.setItem("frequency", subStore[i].frequency)
        }
    }


</script>