{{!-- TEMPLATE FOR EXPIRE PAGE DISPLAYING SUBSCRIPTIONS EXIPIRING WITHIN 30 DAYS IN THE DATABASE --}}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Logo</p>
        </div>
        <div class="col-md-4">
            <p>Renooster</p>
        </div>
        <div class="col-md-2 text-right">
            <a href="/add" class="btn btn-primary">New Subscription</a>
        </div>
        <div class="col-md-2 text-right">
            <a href="/logout" class="btn btn-secondary">Sign Out</a>
        </div>
        
    </div>
    <div class="row" id="expiringSubscriptions">

    </div>
</div>