{{!-- TEMPLATE FOR PAGE DISPLAYING SUBSCRIPTIONS IN THE DATABASE THAT EXPIRE WITHIN 30 DAYS --}}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Logo</p>
        </div>
        <div class="col-md-4">
            <p>Renooster</p>
        </div>
        <div class="col-md-2 text-right">
            <a href="/add" class="btn btn-primary">New Subscription</a>
        </div>
        <div class="col-md-2 text-right">
            <a href="/logout" class="btn btn-secondary">Sign Out</a>
        </div>
        
    </div>
    <div class="row" id="expiringSubscriptions">
        {{!-- {{#each subscriptions}}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">Start Date: <i>{{startDate}}</i></p>
                    <p class="card-text">End Date: <i>{{endDate}}</i></p>
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
        {{/each}} --}}
    </div>
</div>