{{!-- TEMPLATE FOR MAIN PAGE DISPLAYING SUBSCRIPTIONS IN THE DATABASE --}}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2 text-right">
            <a href="/add" class="btn btn-primary">New Subscription</a>
        </div>
        <div class="col-md-2 text-right">
            <a href="/logout" class="btn btn-secondary">Sign Out</a>
        </div>

    </div>
    <div class="row" id="subscriptions">

    </div>
</div>