h1 {
  font-family: "Cherry Cream Soda", cursive;
  font-size: 120px;
  text-align: center;
  color: #d52b14;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
  font-weight: 600;
  text-align: center;
}

body {
  background-image: url("/img/renoosteranimals_bg.png");
  background-size: cover;
  background-color: #3bb5e0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.navbar {
  background-color: black;
  height: 50px;
}

.navbar-brand {
  color: white;
}

.page-header img {
  float: left;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-top: 70px;
  margin-right: 25px;
}

.page-header h1 {
  font-weight: 600;
  margin-top: 60px;
  position: relative;
  display: inline-block;
}

.card {
  margin: 50px 0;
  border-width: 2px;
  border-style: solid solid solid solid;
  border-color: #000;
}

.card-title {
  font-weight: 600;
  margin-bottom: 30px;
}

.modal-body {
  text-align: center;
  display: inline-block;
}

.modal-title {
  color: red;
  font-weight: 600;
}

.expireWarning {
  color: #d52b14;
}
